<div>
  <h1 class="display-6 bg-secondary p-5 text-center">Tech Blog</h1>
</div>

{{#each posts as |post|}}
  <div class="row justify-content-center">
    <div class="col-md-11 py-3">
      <div class="card h-100 shadow">
        <h2 class="card-header">{{post.title}}</h2>
        <div class="card-body">
          {{post.content}}
        </div>
      </div>  
    </div>
  </div>
{{/each}}