:root{
    --light-dark: #201F23;
    --dark-dark: #1A1A1A;
}

body {
    background-color: black;
    position: relative;
    min-height: 100vh;
}

.navbar-toggler {
    background-color:tomato !important;
}

.card {
    border: none;
}

.card-header {
    /* background-color: var(--light-dark); */
    color: white;
    border: none;
}

.card-body {
    background-color: var(--dark-dark);
    color: white;
    border: none;
}

.bg-dark-dark{
    background-color: var(--dark-dark);
}


.bg-light-dark{
    background-color: var(--light-dark);
}

.border-black{
    border-color: black;
}

.icon {
    color: skyblue;
    font-size: 4rem;
    position: fixed;
    bottom: 2%;
    right: 5%;
}

.icon:hover {
    font-size: 3.5rem;
    position: fixed;
    bottom: 2.5%;
    right: 5.5%
}

